body{
    overflow-x: hidden;
    font-family: Comfortaa;
    height: 100vh;
    background-image: url("../images/background.png");
}
.add-form {
    width: 95%px;
    margin: 50px auto;
}
.add-form form {
    margin-bottom: 15px;
    background: #6B747D;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.add-form h2 {
    margin: 0 0 15px;
}

.btn {        
    font-size: 15px;
    font-weight: bold;
    background: white;
    color:gray;
    border:1px solid gray; 
}
.copyright{
    height: 30px;
}
.gambar{
    padding-bottom: 10px;
}

/* =======FONT ======== */
h5{
    line-height:20%;
}
i{
    line-height:6%;
    color:#6B747D;
}

.content{
    height: 178%;
}

/*FOOTER*/
footer{
    font-weight:300;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: left;
    height: 50px;
    margin-top: -50px;
}
strong{
    color: white;
}

