body{
    overflow-x: hidden;
    font-family: Comfortaa;
    height: 100vh;
    background-image: url("../images/background.png");
}

/* =======FONT ======== */
h5{
    line-height:20%;
}
i{
    line-height:6%;
    color:#6B747D;
}

.content{
    height: 120%;
}


/*======about us========*/
.social{
    height:80px;
    color: #6B747D;
    padding-right:3vw;
}

/*FOOTER*/
footer{
    font-weight:300;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: left;
    height: 50px;
    margin-top: -50px;
}
strong{
    color: white;
}

/*=========PRODUK KAMI==========*/
  /* Slider */
  
.slick-slide {
    margin: 0px 20px;
}
  
.slick-slide img {
    width: 100%;
}
  
.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
  
.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus{
    outline: none;
}
.slick-list.dragging{
    cursor: pointer;
    cursor: hand;
}
  
.slick-slider .slick-track,.slick-slider .slick-list{
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
}
  
.slick-track{
      position: relative;
      top: 0;
      left: 0;
      display: block;
}
.slick-track:before,.slick-track:after{
      display: table;
      content: '';
}
.slick-track:after{
      clear: both;
}
.slick-loading .slick-track{
      visibility: hidden;
}
  
.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide{
    float: right;
}
.slick-slide img{
    display: block;
}
.slick-slide.slick-loading img{
    display: none;
}
.slick-slide.dragging img{
    pointer-events: none;
}
.slick-initialized .slick-slide{
    display: block;
}
.slick-loading .slick-slide{
    visibility: hidden;
}
.slick-vertical .slick-slide{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden{
    display: none;
}

 /* CTA CSS */
 .cta-padding35 {
    padding: 35px 0 35px;
    background-color: #b40028;
    color:#fff;
}
/* Buttons */
.site-btn {
    font-size: 14px;
    padding: 13px 30px;
    border-radius: 5px;
    border: 1px solid #b40028 ;
    min-width: 200px;
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #b40028 ;
    background-color:transparent;
    transition: all .25s ease-in-out;
    margin: 10px 0px 10px 0px;
    
}
.site-btn:hover {
    background: #b40028 ;
    border: 1px solid #fff;
    font-weight:700px;
    
    
}

.slide img{
    border: 1px solid gray;
}

.copyright{
    height: 30px;
}

.btn {        
    font-size: 15px;
    font-weight: bold;
    background: white;
    color:gray;
    border:1px solid gray; 
}

/*h1 { font-family: Comfortaa; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } 
h3 { font-family: Comfortaa; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } 
p { font-family: Comfortaa; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 
blockquote { font-family: Comfortaa; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 
pre { font-family: Comfortaa; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }*/